$footerAccentColor: #f8b410;
$footerColor: linear-gradient(
  90deg,
  rgb(45 108 107) 0%,
  rgb(21 51 51) 35%,
  rgb(13 42 42) 100%
);
$footerFont-size: 14px;
$footerFontColor: #fff;

:root {
  --color-bg: #0d2cd9;

  --color-primary: #05dbf2;
  --color-white: #f0f0f2;
  --color-light: #fdf3e3;
  --color-accent: #f2e205;

  --color-second: #dff7fc;

  --color-bg-variant: #044bd9;
  --color-primary-variant: #044bd9;

  --color-modalsBG: linear-gradient(180deg, #0d2cd9, #044bd9 130.21%);
  --bacckground-modals: #4e4e4dea;
  --color-modalP: #fff;

  --transition: all 300ms ease;
  --border-radius: 10px;

  --container-width-mobile: 90%;
  --container-width-desktop: 80%;
}
