$footerAccentColor: #f8b410;
$footerColor: linear-gradient(
  90deg,
  rgb(45 108 107) 0%,
  rgb(21 51 51) 35%,
  rgb(13 42 42) 100%
);
$footerFont-size: 14px;
$footerFontColor: #fff;

:root {
  --color-bg: #069dbf;

  --color-primary: #2585d9;
  --color-white: #f0f0f2;
  --color-light: #fdf3e3;
  --color-accent: #11d968;

  --color-second: #dff7fc;

  --color-bg-variant: #07f2f2;
  --color-primary-variant: #07f2f2;

  --color-modalsBG: linear-gradient(180deg, #2585d9, #069dbf 130.21%);
  --bacckground-modals: #4e4e4dea;
  --color-modalP: #fff;

  --transition: all 300ms ease;
  --border-radius: 10px;

  --container-width-mobile: 90%;
  --container-width-desktop: 80%;
}
